body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Cambié a un tono más suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px; /* Aumenté el padding para mejor presentación */
    border-radius: 15px; /* Más bordes redondeados */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

input, button {
    margin: 15px 0; /* Aumenté el margen para mejor separación */
    padding: 12px;
    width: 80%;
    border-radius: 8px; /* Bordes más suaves */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

#message {
    font-size: 14px;
    color: #ff0000; /* Color rojo para mensajes de error */
    margin-top: 10px;
}

canvas {
    margin-top: 20px;
}
